[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Flash
Name[de]=Flash
Exec=/bin/sh --login
Terminal=true
Categories=X-Debian-Applications-Shells;
X-XFCE-Source=file:///var/lib/menu-xdg/applications/menu-xdg/X-Debian-Applications-Shells-bash.desktop
